<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <div class="card-header"><p style="text-align: center;">
            <img src="assets/xx.png" width="25" height="25" class="d-inline-block align-bottom" alt="">ccessapp  Forgot Password</p></div>
        <div class="card-body">
          <div class="form-group row" >

        <form [formGroup]="resetForm">

          <mat-form-field class="example-full-width" appearance="standard">
            <mat-label style="color: black;font-size: 22px;">E-Mail</mat-label>
            <mat-icon matPrefix style="height: 22px;vertical-align: bottom;">mail</mat-icon>
            <input matInput placeholder="Inserisci E-Mail"  style="color: black;font-size: 22px;"
            [formControl]="MailLControl" type="email">
          </mat-form-field>
        </form>
          </div>


          <div *ngIf="isShown" class="form-group row" id="divshow" >
            <p style="text-align:center;color:#ff0000;">{{message}}</p>
          </div>
          <div class="form-group row ">
              <button type="submit" class="btn btn-primary" (click)="OnClick()">
                Invia Mail di recupero
              </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
